# =========================
# 🌐 App
# =========================
NODE_ENV=
NEXT_PUBLIC_BASE_URL=

# =========================
# 🔐 Site Access Password
# (used by login + proxy)
# =========================
SITE_PASSWORD=

# =========================
# 📧 Gmail (App Password)
# =========================
GMAIL_USER=
GMAIL_APP_PASSWORD=

# =========================
# 🗄️ MongoDB
# =========================
MONGODB_URI=